<!DOCTYPE html >
<html lang="en"
      ng-app="contacts" >
<head >
	<title >Contacts</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css"
	      rel="stylesheet" >
	<link href="main.css"
	      rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Contacts
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" >

	<div class="row">
		<div class="col-md-8">
			<div class="row" >
				<div class="col-md-12" >
					<form class="form-inline well well-sm" >
						<span class="glyphicon glyphicon-search" ></span >

						<div class="form-group" >
							<input type="text"
							       class="form-control"
							       id="name"
							       ng-model="search"
							       placeholder="Search name..."
									/>
						</div >

						<span class="glyphicon glyphicon-sort-by-attributes" ></span >

						<div class="form-group" >
							<select class="form-control"
							        ng-model="order" >
								<option value="name" >Name (ASC)</option >
								<option value="-name" >Name (DEC)</option >
								<option value="email" >Email (ASC)</option >
								<option value="-email" >Email (DEC)</option >
							</select >
						</div >

					</form >

					<table class="table table-bordered" >

						<tr >
							<th >#</th >
							<th >Name
								<span ng-click="order = 'name'"
								      class="glyphicon glyphicon-menu-up" ></span >
								<span ng-click="order = '-name'"
								      class="glyphicon glyphicon-menu-down" ></span >
							</th >
							<th >Email
								<span ng-click="order = 'email'"
								      class="glyphicon glyphicon-menu-up" ></span >
								<span ng-click="order = '-email'"
								      class="glyphicon glyphicon-menu-down" ></span >
							</th >
							<th >Birthday</th >
						</tr >

						<!-- Display the results-->

						<tr  >
							<td >{{ Index }}</td >
							<td >{{ Name }}</td >
							<td >{{ Email }}</td >
							<td >{{ Birthdate }}</td >
						</tr >
						<!-- If no results found, use this messaging-->
						<tr >
							<td colspan="4" >
								<div class="alert alert-info" >
									<p class="text-center" >No results found for search term '{{ search }}'</p >
								</div >
							</td >
						</tr >


					</table >

				</div >
			</div >

		</div >

		<!-- Details of the selected contact should go here -->
		<div class="col-md-4" >

			<div class="panel panel-default" >
				<div class="panel-heading" >Details</div >
				
				<div class="panel-body" >
					<form class="form-horizontal">
						<div class="form-group" >
	<label class="col-sm-2 control-label" >Name</label >
	<div class="col-sm-10" >
		<input type="text"
		       class="form-control"
		       name="name"
		       ng-model="contacts.selectedPerson.name"
		       required />
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-2 control-label" >Email</label >
	<div class="col-sm-10" >
		<input type="email"
		       name="email"
		       class="form-control"
		       ng-model="contacts.selectedPerson.email"
		       required />
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-2 control-label" >Photo</label >
	<div class="col-sm-10" >
		<input type="text"
		       class="form-control"
		       name="photo"
		       ng-model="contacts.selectedPerson.photo"
				/>
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-2 control-label" >Sex</label >
	<div class="col-sm-10" >

		<select name="sex"
		        class="form-control"
		        ng-model="contacts.selectedPerson.sex"
		        id="" >
			<option value="M" >Male</option >
			<option value="F" >Female</option >
		</select >
	</div >
</div >
<div class="form-group" >
	<label class="col-sm-2 control-label" >Birthday</label >
	<div class="col-sm-10" >
		<input type="text"
		       name="bday"
		       class="form-control"
		       ng-model="contacts.selectedPerson.birthdate "
		       bs-datepicker
				/>
	</div >

</div >
<div class="form-group" >
	<label class="col-sm-2 control-label" >Phone</label >
	<div class="col-sm-10" >
		<input type="tel"
		       name="phone"
		       class="form-control"
		       ng-model="contacts.selectedPerson.phonenumber"
				/>
	</div >

</div >
<div class="form-group" >
	<label class="col-sm-2 control-label" >Address</label >
	<div class="col-sm-10" >
		<input type="text"
		       name="address"
		       class="form-control"
		       ng-model="contacts.selectedPerson.address"
				/>
	</div >

</div >

<div class="form-group" >
	<label class="col-sm-2 control-label" >City</label >
	<div class="col-sm-10" >
		<input type="text"
		       name="city"
		       class="form-control"
		       ng-model="contacts.selectedPerson.city"
				/>
	</div >

</div >
<div class="form-group" >
	<label class="col-sm-2 control-label" >Country</label >
	<div class="col-sm-10" >
		<input type="text"
		       name="country"
		       class="form-control"
		       ng-model="contacts.selectedPerson.country"
				/>
	</div >

</div >
<div class="buttons" >
	<button class="btn btn-primary btn-block"
	        ladda="contacts.isSaving"
	        type="submit" >Save
	</button >
</div >

						

					</form >
				</div >
			</div >
		</div >
	</div >
</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="main.js" ></script >
</body >
</html >
